# Python cache and virtual environment
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.eggs/
.env
.venv/
myennv/
env/
venv/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs and reports
*.log
*.xlsx
*.csv

# Uploads and generated content
uploads/resume_uploads/
uploads/reports/

# Environment config
.env

# Compiled files or Jupyter
*.ipynb_checkpoints
*.ipynb
